<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectofinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="IGE"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistroUsuariosActivity" />
        <activity android:name=".ConsultarUsuariosActivity" />
        <activity android:name=".InicioUsuarioActivity" />
        <activity android:name=".OpcionUsuarioActivity" />
        <activity android:name=".DetalleUsuarioActivity" />
        <activity android:name=".RegistroAlimentoActivity" />
        <activity android:name=".ListaAlimentosActivity" />
        <activity android:name=".DetalleAlimentoActivity" />
        <activity android:name=".ListaPersonasRecycler"></activity>
    </application>

</manifest>